/*font*/
/*@font-face {
    font-family:"Roboto Black";
    src:url("Roboto-Black.eot?") 
    format("eot"),url("../fonts/roboto_black/Roboto-Black.woff") 
    format("woff"),url("../fonts/roboto_black/Roboto-Black.ttf") 
    format("truetype"),url("../fonts/roboto_black/Roboto-Black.svg#Roboto-Black") 
    format("svg");
    font-weight:normal;
    font-style:normal;
    }
@font-face {
    font-family:"Roboto";
    src:url("Roboto.eot?") 
    format("eot"),url("../fonts/Roboto/Roboto.woff") 
    format("woff"),url("../fonts/Roboto/Roboto.ttf") 
    format("truetype"),url("../fonts/Roboto/Roboto.svg#Roboto") 
    format("svg");
    font-weight:normal;
    font-style:normal;
    }*/


html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto',sans-serif;
}
.main {
    overflow: hidden;
    background: white;
}
.preLoad {
    width: 100px;
    margin: 0 auto;
    margin-top: 300px;
    display: none;
}
.display i{
    font-size: 25px;
    cursor: pointer;
}
.openMenu {
    background: white;
    color: black;
}
.openMenu ul li {
    display: list-item;
}
.header {
    position: fixed;
    display: block;
    box-shadow: 0px 0px 7px #888888;
    width: 100%;
    z-index: 20000;
    background: white;
}
.center {
    width: 76%;
    margin: 0 auto
}
.header .logo {
    font-size: 12px;
    padding: 10px;
    padding-left: 0px;
}
.logo a {
    color: black;
    text-decoration: none;
}
.logo span {
    padding: 0px 6px;
}
.logo #w {
    font-weight: 900;
}
.logo #h {
    font-weight: 700;
}
.logo #i {
    font-weight: 500;
}
.logo #t {
    font-weight: 300;
}
.logo #e {
    font-weight: 100;
}
.header .menu ul li {
    display: inline;
    list-style: none;
    color: black;
    margin: 18px;
}
.header .menu ul li a {
    text-decoration: none;
    color:#666;
}
.header .menu ul li a:hover {
    color: black;
} 
.header .menu ul li a span {
    color: black;
}
.menu {
    float: right;
    font-size: 12px;
    font-weight: 900;
    margin-top: 22px;
    /*margin-right: 20px;*/
}
.search {
    margin-top: 20px;
    border-left: 1px solid gray;
    height: 35px;
}
.search .elements {
    padding: 9px;
    margin-left: 12headpx;
}
.search input {
    margin-left: 8px;
    border: none;
    width: 60px;
    color: slategray;
}
#searchbutton {
    width: 13%;
}
.search input:focus {
    outline: none;
}
.menu #lastone {
    position: relative;
}
.menu #list {
    position: relative;
}

.menu #list::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 20%;
    left: 42%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #1b1e23;
    }
.menu #list li {
    list-style: none;
    display: block;
    z-index: 1;
    padding: 14px 10px 25px 13px;    
    margin-left: 100px;
    width: 170px;
    border-bottom: 1px solid #9fa3a8;
    font-weight: 500;
    height: 30px;
    background: #1b1e23;
    color: #9fa3a8;
    margin: 0;
    cursor: pointer;
}
.menu #list li:hover {
    color: white;
    background: black;
}
.menu #list li:first-child {
    z-index: -2;
    background: transparent;
    border: none;
    color: transparent;
}
.menu #list li:first-child:hover {
    background: transparent;
    border: none;
    color: transparent;
}
.menu #list {
    position: absolute;
    top: 5px;
    left: -57px;
    display: none;
}
.menu #list::before {
 	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 40px solid black;
}


/* second */

.components h1 {
    font-size: 21px;
    font-weight: 100;
}
.components span {
    font-weight: 400;
}
.components .short {
    padding-bottom: 60px;
    color: #747474;
    font-size: 14px;
    font-weight: 100;
    margin-top: -10px;
}
.components {
    height: auto;
    padding: 60px 0px 0px 0px;
    font-family: 'Roboto',sans-serif;
}
.components .line {
    height: 2px;
    width: 25px;
    padding: 5px 0px;
    border-top: 2px solid #CCCCCC;
}



/* third */
.clean {
    background-image: url('../img/clean_code_bg.jpg');
    height: auto;
    padding-bottom: 100px;
    background-size: inherit;
}
.clean #first, .clean #second {
    font-size: 70px;
}
.clean .content {
    height: 488px;
    color: white;
    font-family: 'Roboto',sans-serif;
}
.content {
    position: relative;
}
.content .symbols {
    position: absolute;
    top: 320px;
    left: 0px;
}
.content .text {
    left: 0px;
    position: absolute;
    padding: 0px 20px 50px 0px;
}
.content .text p {
    font-size: 25px;
    color: #989898;
}
.content .text #title {
    font-size: 80px;
    padding: 0;
    margin: 0;
    line-height: 80px;
    color: white;
}
.content .text #first {
    font-weight: 500;
}
.content .text #second {
    font-weight: 100;
    height: 25px;
}
.content ul {
    padding: 0;
}
.content ul li {
    display: inline;
    list-style: none;
    font-size: 12px;
}
.symbol {
    height: 80px;
    width: 70px;
    position: relative;
    margin: 0px 122px 0px 0px;
    float: left;
}
.content ul li:first-child .symbol {
    margin: 0px 122px 0px 0px;  
}
.content ul li:last-child .symbol {
    margin: 0px;
}
.cover img {
    position: absolute;
}
.cover p {
    margin: 0;
    display: none;
}
.cover {
    z-index: 1;
    text-align: center;
    font-size: 20px;
    float: left;
    width: 170px;
    height: 170px;
    margin: 0px 130px 0px 0px;
    position: absolute;
    left: 0;
    top: 0;
    color: black;
}
.clean .imagebox {
    position: relative;
    margin-top: 40px;
    width: 60px;
    margin-left: 55px;
    overflow: hidden;
    height: 60px;
    background-position-y: 120px; 
}
.activeSymbol {
    display: block;
    background: white;
    margin-top: -35px;
}






/*--Girls' slide*/
.girls_slide {
    box-sizing: border-box;
    height: 285px;
    /*width: 1516px;*/
    position: relative;
    margin: 0 auto;
    margin-top: 45px;

}
.buttons .button:hover { 
    color: black;
    border-color: black;
}
.girls_slide .girl img {
    width: 100%;
    height: inherit;
}
.girls_slide .overlay img {
    width: 25%;
    height: 40px;
}
.buttons .button {
    cursor: pointer;
    border: 2px solid lightgray;
    width: 70px;
    color: lightgray;
    background-color: white;
    margin: 8px 0px 10px 0px;
    height: 70px;
    float: left;
}
.upline {
    padding-bottom: 30px;
}
.upline h1 {
    font-size: 40px;
    font-weight: 300;
}
.upline h1 span {
    font-weight: 500;
}
.buttons i {
    text-align: center;
    font-size: 40px;
    margin-top: 15px;
    margin-left: 25px;
}
.girl {
    width: 25%;
    height: 285px;
    position: absolute;
}
.overlay {
    position: absolute;
    left: -10px;
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 0.8em;
    top: -10px;
    width: 354px;
    height: 255px;
    margin: 10px;
    opacity: 0;
    background: black;
    z-index: 1;
}
.overlay h1 {
    margin-top: 65px;
}
.overlay p {
    margin-bottom: 30px;
    color: #989898;
}
.overlay img:hover, .overlay h1:hover {
    cursor: pointer;
}
.overlay img {
    width: 55px;
    height: 30px;
}














/*--9--*/
.dot {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    float: left;
    margin: 0px 3px;
    border: 3px solid black;
}
.dot:hover {
    background: black;
    height: 15px;
    width: 15px;
    cursor: pointer;
    margin-top: -1px;
}
.clients .dots {
    margin: 35px 35px 0px 0px;
}
.clients .text p {
    color: #5F5F5F;
    font-size: 20px;
    padding-top: 30px;
    font-weight: 100;
    padding-bottom: 0px;
}
.clients .text span p {
    color: #5F5F5F;
    font-size: 28px;
    padding-top: 10px;
    padding-bottom: 0px;
    font-weight: 100;
}
.clients .author p{
    font-size: 20px;
}
.clients .text h1 {
    font-weight: 100;
    font-size: 40px;
}
.clients .text span {
    color: black;
    font-weight: 900;
}
.clients .text {
    padding-top: 50px;
    padding-bottom: 50px;
}
.clients .quotes {
    width: 300%;
    overflow: hidden;
    height: 270px;
}
.clients .quotes .quote {
    /*position: absolute;*/
    width: 33.333%;
    top: 0;
    float: left;
}

.clients {
    overflow: hidden;
}






/*11*/
.blocks .block {
    margin-right: 30px;
    height: 350px;
    position: relative;
}
.blocks .block2 {
    margin-right: 0px;
    height: 350px;
    position: relative;
}
.blocks .block img, .blocks .block2 img {
    width: 100%;
    height: 212px;
}
.box {
    position: relative;
}
.coverblock, .coverblock2 {
    width: 92%;
    position: absolute;
    top: 0px;
    background: black;
    opacity: 0;
    z-index: 1;
    height: 212px;
    display: block;
}
.coverblock2 {
    width: 100%;
}
.box {
    display: Ffirblock;
    box-sizing: border-box;
}
.box:hover .coverblock, .box:hover .coverblock2{
    opacity: 0.8;
}
.coverblock img, .coverblock2 img {
    margin-left: 44%;
    width: 60px;
    height: 35px;
    margin-top: 121px;
}
.blocks {
    color: #AAAAAA;
    font-size: 0.7em;
    padding-top: 50px;
}
.blocks .block h1, .blocks .block2 h1 {
    font-weight: 300;
}
.blocks .block span, .blocks .block2 span{
    float: left;
    font-size: 1.2em;
    font-weight: 100;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #AAAAAA;
}
.blocks .block p, .blocks .block2 p {
    font-size: 1.2em;
    margin-top: 0px;
    width: 100px;
    font-weight: 100;
    float: left;
}


/*bigpic*/

.bigpic {
    width: 400px;
    margin: 0 auto;
    height: 400px;
    margin-top: 150px;
    z-index: 4;
    display: none;
}
.bigpic img {
    width: 100%;
    height: 100%;
}









/*senem*/
.content .first_slider{
    padding: 115px 0 130px 0;
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.first_slider .white_content{
    margin-bottom: 12%;
    color: #3A3737;
    display: inline-block;
}

.visible{
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 0;
    /*transform: translateX(100px);*/
}


.first_slider .white_content .heading{
    font-size: 80px;
    color: #333333;
    margin-top: 45px;
    margin-bottom: 25px;
    font-weight: 200;
}

.first_slider .white_content .heading h3{
    animation: up_to_down 1s ease-in-out;
    float: left;
}

.first_slider .white_content .heading h3:first-child{
    animation: creative 1s ease-in-out;
    font-weight: 500;
}

.first_slider .white_content .heading h3:nth-child(3){
    animation-delay: .2s;
}

.first_slider .white_content p{
    animation: down_to_up 1s ease-in-out;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;  
}

.slider{
    position: absolute;
    bottom: 50px;
}

.slider .direction{
    padding: 25px 0;
    background: white;
    font-size: 25px;
    color: #333333;
    margin-right: 2px;
    text-align: center;
}

.slider .direction i{
    font-weight: 100;
}

.slider .direction:hover{
    cursor: pointer;
    background: #333333;
    color: white;
    transition-duration: .6s; 
}
.slider .slider_album ul{
    margin-top: -5px;
}
.slider .slider_album li{
    display: inline-block;
    margin-right: 10px;
}

.slider .slider_album li img{
    width: 97px;
    height: 62px;
    cursor: pointer;
}

.slider .slider_album .active{
    box-sizing: border-box;
    border: 6px solid white;
    height: 75px;
    position: relative;
}

.slider .slider_album .active::before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -13px;
    left: 47%;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 7px solid white;
}


.slider .read{
    padding: 25px 0;
    background: white;
    color: #333333;
    font-weight: bold;
    text-align: center;
    animation: read .6s ease-in-out;
}

.slider .read p i{
    margin-left: 40px;
    font-size: 20px;
}

.slider .read:hover{
    background: #333333;
    color: white;
    cursor: pointer;
    transition-duration: .7s
}

.multi_purpose{
    padding: 80px 0;
    position: relative; 
}

.multi_purpose .wordpress{
    animation: slip_right 1s ease-in-out;
}

.multi_purpose .wordpress h1{
    font-size: 39px;
    color: #333333;
    margin-bottom: 35px;
    font-weight: 300;
}

.multi_purpose .wordpress h1 span{
    font-weight: 500;
}

.multi_purpose .wordpress p{
    font-size: 17px;
    color: #666;
    font-weight: 300;
    margin-bottom: 25px;
    line-height: 25px;
}

.more_template{
    animation: slip_right 1s ease-in-out;
    margin-top: 12%;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}

.more_template .buy_theme{
    background: #1C1C1C;
    padding: 27px 0;
    color: white;
    margin-right: 20px;
}

.more_template .view_more{
    border: 2px solid #CCCCCC;
    color: #999;
    padding: 25px 0;
    font-weight: bold;
}

.more_template .view_more:hover{
    color: #1C1C1C;
    border-color: #1C1C1C;
    transition-duration: .7s;
}

.multi_purpose .responsive{
    animation: slip_left 1s ease-in-out;
    position: absolute;
    bottom: 10%;
    right: 15px;
}

.content .logos{
    padding: 50px 0;
    animation: visible 1s ease-in-out;
}

.logos .logo img{
    filter: grayscale(100%);
    opacity: .6
}

.logos .logo img:hover{
    transition: all 0.3s linear; 
    filter: grayscale(0);
    opacity: 1
}

.content .about_team{
    background: url("../img/team_bg.jpg");
    background-size: cover;
    padding: 60px 0 90px 0;
}

.about_team .our_team{
    font-weight: 300;
    font-size: 40px;
    color: #333333;
    margin-top: 15px; 
}

.about_team .our_team h2 span{
    font-weight: 500;
}

.about_team .directs{
    text-align: center;
}

.about_team .directs .direct_style{
    color: #ccc;
    border: 2px solid;
    padding: 25px 0;
    font-size: 20px;
}

.about_team .directs .prev{
    border-right: none;
    margin-left: 16px;
}

.about_team .directs .next{
    margin-right: 16px;
}

.about_team .directs .direct_style:hover{
    color: #000;
    border:2px solid;
    cursor: pointer;
    transition-duration: .7s;
}

.about_team .outer_team{
    overflow: hidden;
}

.outer_team .team_slider{
    animation: visible 1s ease-in-out;
    margin-top: 65px;
    width: 1000%;
}

.outer_team .team_member{
    position: relative;
    float: left;
    display: inline-block;
    margin-right: 20px;
}

.team_member .overlay{
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100%;
    top: 0;
}

.team_member .member_info{
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: white;
    opacity: 0;
}

.member_info .name_position{
    position: absolute;
    top: 40%;
    left: 32%;
    pointer-events: none;
}

.member_info .name_position p{
    color: #666;
    font-size: 13px;
    margin-top: 15px;
}

.member_info .media_info{
    position: absolute;
    top: 55%;
    left: 27%;
    margin-top: 45px;
    color: #666;
    font-size: 30px;
}

.member_info .media_info i{
    border: 2px solid;
    padding: 15px 18px;
    border-radius: 100%;
    cursor: pointer;
}

.member_info .media_info i:first-child{
    margin-right: 15px;
}

.member_info .media_info i:hover{
    color: white;
    transition-duration: .7s;
}

.footer{
    background: #1C1C1C;
    padding: 50px 0 75px 0;
    font-weight: 300; 
}

.footer .hdr{
    color: white;
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 40px;
}

.footer .hdr h3 span{
    font-weight: 500;
}

.footer .posts ul li{
    color: #ccc;
    font-size: 14px;
    margin-top: 25px;
}

.posts ul li .post_content p{
    margin-bottom: 6px;
    line-height: 16px;
}

.posts ul li .post_content small{
    font-size: 11px;
    color: #666;    
}

.footer .posts ul li img{
    width: 75px;
    height: 50px;
}

.footer .posts ul li:hover{
    opacity: .6;
    transition-duration: .7s;
    cursor: pointer;
}

.footer .info {
    margin-left: 40px;
}

.footer .info .info_content{
    font-size: 13px;
    color: #999;
    line-height: 22px;
}

.footer .info .info_content p:first-child{
    margin-bottom: 30px;
}

.footer .info .info_content p:last-child{
    margin-bottom: 25px;
}

.info .icons ul li{
    display: inline-block;
    color: #333;
    font-size: 22px;
    border: 1px solid;
    padding: 15px 18px;
    margin-right: 10px;  
}

.info .icons ul li:hover{
    color: #ccc;
    transition-duration: .7s;
    cursor: pointer;
}

.footer .contact{
    margin-left: 60px;
}

.footer .contact .inputs .input_style{
    border: 2px solid #242424;
    padding: 10px;
    background: none;
    opacity: 0.5;
    margin-bottom: 15px;
}

.footer .contact .send button{
    color: #333;
    border: 2px solid #242424;
    padding: 15px 30px;
    background: none;
    font-weight: bold;
    font-size: 14px;
}

.footer .contact .send button:hover{
    color: #fff;
    border-color: #fff;
    transition-duration: .7s;
}